---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Thomas Midena is a performer and filmmaker based in Adelaide, Australia.</p>
			<p>Growing up in Darwin, Thomas cultivated a reverence for live theatre, guerilla filmmaking and destructive thunderstorms.</p>


</p>
	</div>
</div>


