---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import TommyWheel from '@src/assets/img/tmwheel_1.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">What manner of man is this? </h1>
            <Prose>
              <div class="text-lg">
                <p>Thomas Midena is a performer and filmmaker based in Adelaide, Australia.</p>
                <p>Growing up in Darwin, Thomas cultivated a love of live theatre, drama teaching, guerilla filmmaking and destructive thunderstorms.</p>    
              </div>
            </Prose>
          </div>
          <Image src={TommyWheel} alt="Thomas Midena" width={300}  class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>     
        <div>
          <p>
            Full bio temporarily awol.
          </p>
        </div>
        </article>
      </article>
    </main>
  </div>
</BaseLayout>
