---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './projects';

---

<BaseLayout
	title="All Projects"
	description="A collection of my key projects."
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">All My Projects</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">A collection of my key projects.</p>
    </div>
    <ProjectList projects={projects}/>
  </div>
</BaseLayout>
